[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
Pillow = "*"
brimage = {editable = true, path = "."}

[dev-packages]
pytest = "*"
# fix for pre-release: https://github.com/pypa/pipenv/issues/1760
black = "==20.8b1"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
